*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(./img/pexels-safari-consoler.jpg);
    background-size: cover;
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    user-select: none;
}

@media screen and (max-width: 768px) {
    body{
        background-image: url(./img/pexels-thayna-barsan.jpg);
    }
}

.container{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background-color: #00000090;
}
@media screen and (max-width:768px) {
    .container{
        background-color: rgba(0, 0, 0, 0.836);
    }
}

.title{
    font-size: calc(10px + 3vw);
}
.title p{
    font-size: calc(10px + 2vw);
}

.countdown{
    display: flex;
    width: 60vw;
    justify-content: space-between;
    flex-wrap: wrap;
}
.countdown h1{
    font-size: calc(10px + 8vw);
    text-shadow: 0 0 10px whitesmoke;
}

@media screen and (max-width: 768px) {
    .countdown{
        flex-direction: column;
        gap: 20px;
        margin-top: -30px;
    }
    .countdown h1{
        font-size: 3rem;
    }
}

.button{
    background-color: rgba(245, 245, 245, 0.048);
    color: whitesmoke;
    padding: 10px;
    cursor: pointer;
    border-radius: 3px;
    border: solid 2px whitesmoke;
    font-weight: bold;
}
.button:hover{
    background-color: black;
    color: whitesmoke;
}